.App {
    margin-top: 15px;
  }
  
  .App .navbar-brand {
    font-weight: bold;
  }
.App .navbar {
    background-color: rgba(151, 151, 151, 0.397);
    align-items: center;
}
.Container {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-nav {
    padding-top: 5px;
    float: right;
    box-sizing: border-box;
}
.nav-item:hover {
    background-color: rgba(151, 151, 151, 0.5);
}
